<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>flask applicaton</h1>
    <p>first paragraph</p>
    <form action="/"  method="post">
        <label>enter height</label><br>
        <input type="number" name="height" placeholder="enter the height"><br>
        <input type="submit">
    </form>
    <h1>entered height value is {{hei}}</h1>
    <h1>weight value is {{wei}}</h1>
</body>
</html>